In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\91897\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\91897\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91897\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\91897\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: cffi>=1.14 in c:\users\91897\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sniffio in c:\users\91897\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\91897\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\91897\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\91897\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\91897\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sortedcontainers in c:\users\91897\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: pycparser in c:\users\91897\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\91897\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: certifi in c:\users\91897\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\91897\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\91897\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\users\91897\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91897\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

# Question 1

Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:

1.First get the webpage https://www.naukri.com/ 
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3.Then click the search button.
4.Then scrape the data for the first 10 jobs results you get.
5.Finally create a dataframe of the scraped data.

In [18]:
driver=webdriver.Chrome(r"C:/Users/91897/Downloads/chromedriver_win32/chromedriver.exe")

In [ ]:
driver.get('https://www.naukri.com/') #opening the url using the webdriver

In [ ]:
search_job=driver.find_element_by_id('qsb-keyword-sugg') #Coding instructions to search for DataAnalyst jobs
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']") #Coding instructions to search the job in banglore city
search_loc.send_keys('Bangalore')

In [21]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button") #coding instructions to click on the searc button
search_btn.click()

In [22]:
#Creating empty list
job_title =[] 
job_loc =[]
company_name=[]
experience_required=[]

In [24]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") #extracting job titles
#title_tags[0:10]

In [26]:
for i in title_tags:  #Getting only the rquired text in a list using for loop
    title=i.text
    job_title.append(title)
job_title[0:10]

['Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Senior Data Analyst III',
 'Data Analyst',
 'Business Analyst/ Data Analyst- Capital Market & SQL (Mandatory)',
 'Customer Data Management Analyst',
 'Assistant/deputy Manager - Geo-spatial Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Openings For SQL Data Analyst']

In [27]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']") #extracting company names
#company_tags[0:10]

In [28]:
for i in company_tags:
    company=i.text
    company_name.append(company)
company_name[0:10]

['Flipkart',
 'Flipkart',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Genpact',
 'Aspect',
 'Maruti Suzuki India',
 'Rapido',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'Flipkart',
 'StackNexus Technologies India Pvt. Ltd']

In [29]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
#experience_tags[0:10]  #extracting experience

In [30]:
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)
experience_required[0:10]

['1-6 Yrs',
 '2-4 Yrs',
 '3-8 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '3-5 Yrs',
 '1-6 Yrs',
 '5-10 Yrs',
 '4-5 Yrs',
 '3-6 Yrs']

In [31]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
#location_tags[0:10] #extracting locations

In [32]:
for i in location_tags:
    location=i.text
    job_loc.append(location)
job_loc[0:10]

['Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, bangalore',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bengaluru/Bangalore',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru']

In [33]:
data=list(zip(job_title,company_name,experience_required,job_loc)) #zipping all the list into a single variable

In [34]:
driver.close() #closing the website

In [35]:
df=pd.DataFrame(data, columns=['Title','Company','Experience','Location']) #Creating dataframe

In [36]:
df.set_index('Title', inplace =True) #setting the title as index and saving

In [37]:
df[0:10]

,Company,Experience,Location
Title,,,
"Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll",Flipkart,1-6 Yrs,Bangalore/Bengaluru
Senior Data Analyst III,Flipkart,2-4 Yrs,Bengaluru/Bangalore
Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,3-8 Yrs,Bangalore/Bengaluru
Business Analyst/ Data Analyst- Capital Market & SQL (Mandatory),Genpact,7-12 Yrs,"Pune, Bangalore/Bengaluru"
Customer Data Management Analyst,Aspect,0-2 Yrs,Bangalore/Bengaluru
Assistant/deputy Manager - Geo-spatial Data Analyst,Maruti Suzuki India,3-5 Yrs,"Gurgaon/Gurugram, bangalore"
Senior Data Analyst,Rapido,1-6 Yrs,Bangalore/Bengaluru
Senior Data Analyst,SYREN TECHNOLOGIES PRIVATE LIMITED,5-10 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
Senior Data Analyst,Flipkart,4-5 Yrs,Bengaluru/Bangalore
Openings For SQL Data Analyst,StackNexus Technologies India Pvt. Ltd,3-6 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru"

# Question 2

Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:

1.First get the webpage https://www.naukri.com/ 
2.Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3.Then click the search button.
4.Then scrape the data for the first 10 jobs results you get.
5.Finally create a dataframe of the scraped data.

In [38]:
driver=webdriver.Chrome(r"C:/Users/91897/Downloads/chromedriver_win32/chromedriver.exe")

In [39]:
driver.get('https://www.naukri.com/') # opening the website

In [40]:
ds = driver.find_element_by_id("qsb-keyword-sugg")
ds.send_keys("Data Scientist") #searching for datascientist

In [41]:
loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
loc.send_keys("Banglore") # searching for loaction

In [42]:
btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
btn.click()

In [43]:
job_title=[]
job_location=[]
company_name=[]

In [44]:
titles = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
#titles[0:10]

In [45]:
for i in titles:
    job=i.text
    job_title.append(job)
job_title[0:10]

['Data Scientist',
 'Data Science - Senior Data Scientist',
 'Lead / Principal Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - Credit Risk',
 'Lead/Senior Data Scientist (NLP)',
 'Data Scientist',
 'Data Scientist',
 'Advanced Analytics Expert - Data Scientist']

In [46]:
names= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
#names[0:10]

In [47]:
for i in names:
    company=i.text
    company_name.append(company)
company_name[0:10]

['Snaphunt',
 'Paytm',
 'Aviso Inc',
 'Ally-Executive',
 'Visa',
 'Scienaptic Systems',
 'Samya.AI A FRACTAL Entity',
 'Truecaller',
 'Slice',
 'Hewlett-Packard']

In [48]:
locations = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
#locations[0:10]

In [49]:
for i in locations:
    location=i.text
    job_location.append(location)
job_location[0:10]

['Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Delhi / NCR, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Bangalore']

In [50]:
data = list(zip(job_title, company_name, job_location))

In [51]:
df=pd.DataFrame(data, columns=['Job_Tile','Company_Name','Job_Locations'])

In [52]:
df.set_index('Company_Name', inplace=True)

In [53]:
df[0:10]

,Job_Tile,Job_Locations
Company_Name,,
Snaphunt,Data Scientist,Bangalore/Bengaluru
Paytm,Data Science - Senior Data Scientist,"Noida, Bangalore/Bengaluru"
Aviso Inc,Lead / Principal Data Scientist,"Mumbai, Hyderabad/Secunderabad, Pune, Delhi / ..."
Ally-Executive,Senior Data Scientist,Bangalore/Bengaluru
Visa,Senior Data Scientist,Bangalore/Bengaluru
Scienaptic Systems,Data Scientist - Credit Risk,Bangalore/Bengaluru
Samya.AI A FRACTAL Entity,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru
Truecaller,Data Scientist,Bangalore/Bengaluru
Slice,Data Scientist,Bangalore/Bengaluru
Hewlett-Packard,Advanced Analytics Expert - Data Scientist,"Bangalore/Bengaluru, Bangalore"

# Question 8

Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” 
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [338]:
driver=webdriver.Chrome(r"C:/Users/91897/Downloads/chromedriver_win32/chromedriver.exe")

In [339]:
url='https://www.amazon.in/'
driver.get(url)

In [340]:
s1=driver.find_element_by_id("twotabsearchtextbox")
s1

In [341]:
s1.send_keys("Laptop")

In [342]:
btn=driver.find_element_by_id("nav-search-submit-button")
btn.click()

In [343]:
filterb=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filterb:
    if i.text=='Intel Core i7':
        i.click()
        break

In [344]:
filterb1=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filterb1:
    if i.text=='Intel Core i9':
        i.click()
        break

In [345]:
tit1=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
tit1

[<selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="22845256-7228-4574-aeb3-f4de5ba24d6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="4e67afed-92c2-499d-b5f9-23fa87029328")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="6d0b243d-5a5b-4ba9-926c-fccea2cd08ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="a1fbd8e3-a520-4acc-9f6c-4aa8867133bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="781ff59b-8a5b-410e-9dd7-596a7fea9446")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="870b7bc8-a0b3-4cd4-a97e-fad103e01b13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="70716b9e-182f-47ed-a440-cf464e38a497")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="04fc3a65-0c14-41d6-9a7f-0d6b4379c678")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="8852b1d4-49de-4993-abeb-2c869e251e33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="47875127-07a9-4029-bc76-289522a367c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="45e73636-3a95-4cd3-8cdb-6fc15cc94724")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="e4ffab25-a67d-4662-9677-dc797ed5ba7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="01cfac12-836c-44be-b352-8a4ce24057c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="c32ec801-fa0a-4b2e-8d98-4463ab8595d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="18656e69-a4a8-40ed-ba14-b6dfca059a56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="36eac757-401b-445a-8e89-6b109cd9f25f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="8aaf15a5-eaef-42da-b83f-944a1beb6ead")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="175c09fc-7b52-4a77-a7d6-8fb844099c98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="4dce930d-0bb9-4aff-9b2c-4b926ff5061b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="1cdb4739-10c2-4ea9-92be-93553e4955eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="a8d75904-ceef-47ee-9eae-65e5f718d5c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="ffdbe9ac-4b1c-4272-a521-6d555489e630")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="511209b7-4b9b-4f6e-990b-788af31ce40e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="0f57f896-df9b-4b8c-886f-8e396c91d89c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="e12f0829-0976-4bd9-b56e-ff5ae6fc0b2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="0f7c673c-5684-4d1e-a132-b2c2161fef34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="06f2a124-dbea-466a-9658-6b60ed76c9b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="6ee92676-8406-4732-8bd8-2d36095da872")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6aec50b4446f45cbc8f8ba444cf3f44f", element="d1289b6b-3e50-4daf-afe0-83de3bf6779d")>]

In [346]:
t1=[]
for i in tit1[:10]:
    t1.append(i.text.replace("\n",''))
t1

['Acer Nitro 5 AN515-57 Gaming Laptop | Intel Core i7-11800H |NVIDIA GeForce RTX 3050 Laptop Graphics |15.6" FHD 144Hz IPS Display |8GB DDR4 | 256GB SSD+1TB HDD | Killer Wi-Fi 6 | RGB Backlit Keyboard',
 'Fujitsu UH-X 11th Gen Intel i7 Core 13.3 inches FHD IPS 400Nits Thin and Light Business Laptop (16GB/512GB SSD/Windows 10/Office/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/0.878kg), 4ZR1D67596',
 'HP Pavilion (2021) Intel 11th Gen Core i7 14 inches FHD Screen Thin & Light Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, Windows 10, MS Office, Backlit Keyboard, 1.41kg (14-dv0058TU)',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD IPS 300 nits Antiglare 100% sRGB Thin & Light Laptop(16GB/1TB HDD+128GB SSD/Windows 10/MS Office/3 Yr Onsite Warranty/1.7 Kg) 20VEA0HBIH',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'Mi Notebook Pro QHD+ IPS Anti Glare Display Intel Core i7-11370H 11th Gen 14-inch(35.56 cms) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Win 10/Backlit KB/Fingerprint Sensor/1.4 Kg)',
 'ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics Gaming Laptop (16GB RAM/512GB SSD/Windows 10/Gray/2 kg), FX516PC-HN063T',
 'Lenovo IdeaPad Gaming 3 11th Gen Intel Core i7-11370H 15.6" (39.63cm) FHD IPS Gaming Laptop (8GB/512GB SSD/Windows 10/NVIDIA RTX 3050 4GB/120Hz Refresh Display/Shadow Black/2.25Kg), 82K1004EIN',
 'ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3060 6GB Graphics, Gaming Laptop (16GB/512GB SSD/Office 2019/Windows 10/Gray/2 Kg), FX516PM-HN175TS',
 'Mi Notebook Ultra 3.2K resolution display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cm) Thin and Light laptop (16GB/512GB SSD/Iris Xe Graphics/Win 10/MS Office/Backlit KB/Fingerprint sensor/1.7Kg)']

In [347]:
ratings=[]
for i in driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span"):
    ratings.append(i.get_attribute('aria-label'))
ratings

['4.1 out of 5 stars',
 '120',
 '4.3 out of 5 stars',
 '28',
 '4.3 out of 5 stars',
 '512',
 '4.3 out of 5 stars',
 '37',
 '4.2 out of 5 stars',
 '963',
 '4.3 out of 5 stars',
 '588',
 '4.0 out of 5 stars',
 '186',
 '4.9 out of 5 stars',
 '5',
 '4.3 out of 5 stars',
 '27',
 '4.3 out of 5 stars',
 '513',
 '4.6 out of 5 stars',
 '24',
 '3.6 out of 5 stars',
 '6',
 '4.0 out of 5 stars',
 '64',
 '4.1 out of 5 stars',
 '120',
 '4.2 out of 5 stars',
 '39',
 '4.3 out of 5 stars',
 '176',
 '4.5 out of 5 stars',
 '6',
 '4.5 out of 5 stars',
 '95',
 '3.8 out of 5 stars',
 '7',
 '4.3 out of 5 stars',
 '464',
 '3.2 out of 5 stars',
 '6',
 '4.3 out of 5 stars',
 '115',
 '4.0 out of 5 stars',
 '1',
 '3.5 out of 5 stars',
 '3',
 '4.0 out of 5 stars',
 '4',
 '4.1 out of 5 stars',
 '6']

In [348]:
ratings1=[]
for i in range(0,len(ratings),2):
    ratings1.append(ratings[i])
ratings1

['4.1 out of 5 stars',
 '4.3 out of 5 stars',
 '4.3 out of 5 stars',
 '4.3 out of 5 stars',
 '4.2 out of 5 stars',
 '4.3 out of 5 stars',
 '4.0 out of 5 stars',
 '4.9 out of 5 stars',
 '4.3 out of 5 stars',
 '4.3 out of 5 stars',
 '4.6 out of 5 stars',
 '3.6 out of 5 stars',
 '4.0 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.3 out of 5 stars',
 '4.5 out of 5 stars',
 '4.5 out of 5 stars',
 '3.8 out of 5 stars',
 '4.3 out of 5 stars',
 '3.2 out of 5 stars',
 '4.3 out of 5 stars',
 '4.0 out of 5 stars',
 '3.5 out of 5 stars',
 '4.0 out of 5 stars',
 '4.1 out of 5 stars']

In [349]:
rating=ratings1[:10]
rating

['4.1 out of 5 stars',
 '4.3 out of 5 stars',
 '4.3 out of 5 stars',
 '4.3 out of 5 stars',
 '4.2 out of 5 stars',
 '4.3 out of 5 stars',
 '4.0 out of 5 stars',
 '4.9 out of 5 stars',
 '4.3 out of 5 stars',
 '4.3 out of 5 stars']

In [350]:
price1=[]
price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in price[:10]:
    price1.append(i.text)

In [351]:
price1

['88,990',
 '92,990',
 '84,990',
 '85,990',
 '52,999',
 '73,999',
 '89,990',
 '82,990',
 '1,09,990',
 '77,999']

In [352]:
Laptop=pd.DataFrame({})

In [353]:
Laptop['Titles']=t1
Laptop['Price']=price1
Laptop['Average rating']=rating

In [354]:
Laptop

,Titles,Price,Average rating
0,Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...,"88,990",4.1 out of 5 stars
1,Fujitsu UH-X 11th Gen Intel i7 Core 13.3 inche...,"92,990",4.3 out of 5 stars
2,HP Pavilion (2021) Intel 11th Gen Core i7 14 i...,"84,990",4.3 out of 5 stars
3,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,"85,990",4.3 out of 5 stars
4,Mi Notebook Horizon Edition 14 Intel Core i7-1...,"52,999",4.2 out of 5 stars
5,Mi Notebook Pro QHD+ IPS Anti Glare Display In...,"73,999",4.3 out of 5 stars
6,"ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...","89,990",4.0 out of 5 stars
7,Lenovo IdeaPad Gaming 3 11th Gen Intel Core i7...,"82,990",4.9 out of 5 stars
8,ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...,"1,09,990",4.3 out of 5 stars
9,Mi Notebook Ultra 3.2K resolution display Inte...,"77,999",4.3 out of 5 stars

# Question 4

Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1. Brand
2.Product Description 
3.Price To scrape the data you have to go through following steps:
4.Go to Flipkart webpage by url : https://www.flipkart.com/
5.Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
6.After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual. ASSIGNMENT 2
7.After scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it.
8.Now scrape data from this page as usual
9.Repeat this until you get data for 100 sunglasses.

In [119]:
driver=webdriver.Chrome(r"C:/Users/91897/Downloads/chromedriver_win32/chromedriver.exe")

In [120]:
driver.get('https://www.flipkart.com/')

In [121]:
search = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search.send_keys('sunglasses')

In [123]:
btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
btn.click()

In [124]:
brand=[]
description=[]
price=[]
offer=[]

In [125]:
name = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
info = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
p = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in name:
    names=i.text
    brand.append(names)
#brand
for i in info:
    infos=i.text
    description.append(infos)
#description
for i in p:
    ps = i.text
    price.append(ps)
#price
for i in discount:
    d=i.text
    offer.append(d)
#offer

In [126]:
data = list(zip(brand,description,price,offer))

In [127]:
df=pd.DataFrame(data,columns=['Brands','Description','Price','Offer'])

In [128]:
next = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next.click()

In [129]:
brand1=[]
description1=[]
price1=[]
offer1=[]

In [130]:
a=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
b=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
c=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
d=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

for i in a:
    name=i.text
    brand1.append(name)
#brand1
for i in b:
    des=i.text
    description1.append(des)
#description1
for i in c:
    cost=i.text
    price1.append(cost)
#price1
for i in d:
    discount=i.text
    offer1.append(discount)
#offer1

In [131]:
data1=list(zip(brand1,description1,price1,offer1))

In [132]:
df1=pd.DataFrame(data1,columns=['Brands','Description','Price','Offer'])

In [133]:
driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[3]").click()

In [134]:
brand2=[]
description2=[]
price2=[]
offer2=[]

In [135]:
e=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
f=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
g=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
h=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

for i in e:
    name=i.text
    brand2.append(name)
#brand1
for i in f:
    des=i.text
    description2.append(des)
#description1
for i in g:
    cost=i.text
    price2.append(cost)
#price1
for i in h:
    discount=i.text
    offer2.append(discount)
#offer1

In [136]:
data2=list(zip(brand2,description2,price2,offer2))
df2=pd.DataFrame(data2,columns=['Brands','Description','Price','Offer'])
final=pd.concat([df,df1,df2], axis=0)
final.set_index('Brands',inplace=True)
final[0:100]

,Description,Price,Offer
Brands,,,
PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹299,85% off
ROYAL SON,"Polarized, UV Protection Round Sunglasses (53)",₹664,66% off
SRPM,UV Protection Wayfarer Sunglasses (56),₹188,85% off
Elligator,UV Protection Round Sunglasses (54),₹248,90% off
PIRASO,UV Protection Aviator Sunglasses (54),₹187,88% off
...,...,...,...
ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),₹319,78% off
ROYAL SON,UV Protection Round Sunglasses (50),₹359,76% off
AISLIN,"Toughened Glass Lens, UV Protection Wayfarer, ...",₹924,75% off
ROYAL SON,Mirrored Aviator Sunglasses (55),₹359,76% off
ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (60)",₹664,66% off

# Question 5
Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace. As shown in the above page you have to scrape the tick marked attributes. These are:

1.Rating
2.Review_summary
3.Full review
4.You have to scrape this data for first 100 reviews.

In [137]:
driver=webdriver.Chrome(r"C:/Users/91897/Downloads/chromedriver_win32/chromedriver.exe")

In [138]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
driver.get(url)

In [139]:
all_reviews=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
all_reviews.click()

In [140]:
rating=[]
review_summary=[]
full_review=[]
full_review_1=[]

r=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr=driver.find_elements_by_xpath("//div[@class='_2-N8zT']")
fr_1=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r:
    rat=i.text
    rating.append(rat)
    
for i in rs:
    rev=i.text
    review_summary.append(rev)

for i in fr:
    full=i.text
    full_review.append(full)
    
for i in fr_1:
    ful=i.text
    full_review_1.append(ful)

In [141]:
#full_review
full_review.extend(full_review_1)

In [143]:
data=list(zip(rating,review_summary,full_review))
df=pd.DataFrame(data,columns=['Ratings','Review','Full_Review'])

In [144]:
next = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next.click()

In [145]:
rating0=[]
review_summary0=[]
full_review0=[]

In [146]:
r0=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs0=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr0=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r0:
    rat=i.text
    rating0.append(rat)
    
for i in rs0:
    rev=i.text
    review_summary0.append(rev)

for i in fr0:
    full=i.text
    full_review0.append(full)

In [147]:
data1=list(zip(rating0,review_summary0,full_review0))
df1=pd.DataFrame(data1,columns=['Ratings','Review','Full_Review'])

In [148]:
three = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[3]")
three.click()

In [149]:
rating1=[]
review_summary1=[]
full_review1=[]

r1=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs1=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr1=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r1:
    rat=i.text
    rating1.append(rat)
    
for i in rs1:
    rev=i.text
    review_summary1.append(rev)

for i in fr1:
    full=i.text
    full_review1.append(full)

In [150]:
data2=list(zip(rating1,review_summary1,full_review1))
df2=pd.DataFrame(data2,columns=['Ratings','Review','Full_Review'])

In [ ]:
four = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[4]")
four.click()

In [151]:
rating2=[]
review_summary2=[]
full_review2=[]

r2=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs2=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr2=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r2:
    rat=i.text
    rating2.append(rat)
    
for i in rs2:
    rev=i.text
    review_summary2.append(rev)

for i in fr2:
    full=i.text
    full_review2.append(full)

In [152]:
data3=list(zip(rating2,review_summary2,full_review2))
df3=pd.DataFrame(data3,columns=['Ratings','Review','Full_Review'])

In [ ]:
five = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[5]")
five.click()

In [153]:
rating3=[]
review_summary3=[]
full_review3=[]

r3=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs3=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr3=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r3:
    rat=i.text
    rating3.append(rat)
    
for i in rs3:
    rev=i.text
    review_summary3.append(rev)

for i in fr3:
    full=i.text
    full_review3.append(full)

In [154]:
data4=list(zip(rating3,review_summary3,full_review3))
df4=pd.DataFrame(data4,columns=['Ratings','Review','Full_Review'])

In [ ]:
six = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[6]")
six.click()

In [155]:
rating4=[]
review_summary4=[]
full_review4=[]

r4=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs4=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr4=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r4:
    rat=i.text
    rating4.append(rat)
    
for i in rs4:
    rev=i.text
    review_summary4.append(rev)

for i in fr4:
    full=i.text
    full_review4.append(full)

In [156]:
data5=list(zip(rating4,review_summary4,full_review4))
df5=pd.DataFrame(data5,columns=['Ratings','Review','Full_Review'])

In [ ]:
seven = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[7]")
seven.click()

In [157]:
rating5=[]
review_summary5=[]
full_review5=[]

r5=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs5=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr5=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r5:
    rat=i.text
    rating5.append(rat)
    
for i in rs5:
    rev=i.text
    review_summary5.append(rev)

for i in fr5:
    full=i.text
    full_review5.append(full)

In [158]:
data6=list(zip(rating5,review_summary5,full_review5))
df6=pd.DataFrame(data6,columns=['Ratings','Review','Full_Review'])

In [159]:
eight = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[8]")
eight.click()

In [160]:
rating6=[]
review_summary6=[]
full_review6=[]

r6=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs6=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr6=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r6:
    rat=i.text
    rating6.append(rat)
    
for i in rs6:
    rev=i.text
    review_summary6.append(rev)

for i in fr6:
    full=i.text
    full_review6.append(full)

In [161]:
data7=list(zip(rating6,review_summary6,full_review6))
df7=pd.DataFrame(data7,columns=['Ratings','Review','Full_Review'])

In [162]:
nine = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[9]")
nine.click()

In [163]:
rating7=[]
review_summary7=[]
full_review7=[]

r7=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs7=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr7=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r7:
    rat=i.text
    rating7.append(rat)
    
for i in rs7:
    rev=i.text
    review_summary7.append(rev)

for i in fr7:
    full=i.text
    full_review7.append(full)

In [164]:
data8=list(zip(rating7,review_summary7,full_review7))
df8=pd.DataFrame(data8,columns=['Ratings','Review','Full_Review'])

In [165]:
ten = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[10]")
ten.click()

In [166]:
rating8=[]
review_summary8=[]
full_review8=[]

r8=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs8=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr8=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r8:
    rat=i.text
    rating8.append(rat)
    
for i in rs8:
    rev=i.text
    review_summary8.append(rev)

for i in fr8:
    full=i.text
    full_review8.append(full)

In [167]:
data9=list(zip(rating8,review_summary8,full_review8))
df9=pd.DataFrame(data9,columns=['Ratings','Review','Full_Review'])

In [168]:
final = pd.concat([df,df1,df2,df3,df4,df5,df6,df7,df8,df9],axis=0)
final.set_index('Ratings').tail()

                    Review                                        Full_Review
Ratings
5                Wonderful  Ok, so after almost 3 years I am again back in...
5                Must buy!  I will just say its an awesome phone. Starting...
5                 Terrific  Have used both iPhone X and iPhone XR and I ca...
4        Worth every penny  Just go for it without a second thought, if yo...
5               Delightful  Nice camera for front and back.. The display i...

# Question 6
Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:

1.Brand
2.Product Description
3.Price

In [169]:
driver=webdriver.Chrome(r"C:/Users/91897/Downloads/chromedriver_win32/chromedriver.exe")

In [170]:
driver.get("https://flipkart.com/")

In [171]:
search = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search.send_keys('sneakers')

In [172]:
btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
btn.click()

In [173]:
brand=[]
product_description=[]
price=[]

In [174]:
b=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
p=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pr=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [175]:
for i in b:
    br=i.text
    brand.append(br)

for i in p:
    pd=i.text
    product_description.append(pd)

for i in pr:
    p=i.text
    price.append(p)

In [176]:
data = list(zip(brand,product_description,price))

In [177]:
import pandas as pd

In [178]:
df=pd.DataFrame(data,columns=['Brands','Descriptions','Price'])

In [179]:
two=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[3]").click()

In [187]:
brand1=[]
product_description1=[]
price1=[]

In [183]:
b1=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
p1=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pr1=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [188]:
for i in b1:
    br=i.text
    brand1.append(br)

for i in p1:
    pd=i.text
    product_description1.append(pd)

for i in pr1:
    p=i.text
    price1.append(p)

In [189]:
data1 = list(zip(brand1,product_description1,price1))

In [190]:
import pandas as pd

In [191]:
df1=pd.DataFrame(data1,columns=['Brands','Descriptions','Price'])

In [192]:
three=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[4]").click()
brand2=[]
product_description2=[]
price2=[]

In [193]:
b2=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
p2=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pr2=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [195]:
for i in b2:
    br=i.text
    brand2.append(br)

for i in p2:
    pd=i.text
    product_description2.append(pd)

for i in pr2:
    p=i.text
    price2.append(p

In [196]:
data2 = list(zip(brand2,product_description2,price2))

In [197]:
import pandas as pd
df2=pd.DataFrame(data2,columns=['Brands','Descriptions','Price'])

In [198]:
four=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[5]").click()
brand3=[]
product_description3=[]
price3=[]

In [199]:
b3=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
p3=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pr3=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in b3:
    br=i.text
    brand3.append(br)

for i in p3:
    pd=i.text
    product_description3.append(pd)

for i in pr3:
    p=i.text
    price3.append(p)

In [200]:
data3 = list(zip(brand3,product_description3,price3))
import pandas as pd
df3=pd.DataFrame(data3,columns=['Brands','Descriptions','Price'])

In [201]:
import pandas as pd
Sneakers=pd.concat([df,df1,df2,df3],axis=0)
Sneakers

            Brands                                       Descriptions   Price
0   luxury fashion   Luxury Fashionable casual shoes Sneakers For Men    ₹449
1         ASTEROID  Original Luxury Branded Fashionable Men's Casu...    ₹474
2           BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    ₹299
3         URBANBOX              Sports Running Shoes Sneakers For Men    ₹247
4            BIRDE  Luxury Branded Fashionable Men's Casual Walkin...    ₹299
..             ...                                                ...     ...
25         tigonis                               201 Sneakers For Men    ₹429
26          Chevit  Casual Shoes Slip On Sneakers For Men Sneakers...    ₹339
27            PUMA              PUMA X 1DER KL RAHUL Sneakers For Men  ₹7,199
28    Stefano Rads                                   Sneakers For Men    ₹242
29           Zixer                Rebound Future Evo Sneakers For Men    ₹631

[120 rows x 3 columns]

# Question 7
Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image. And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [202]:
driver=webdriver.Chrome(r"C:/Users/91897/Downloads/chromedriver_win32/chromedriver.exe")

In [203]:
driver.get("https://www.myntra.com/shoes/")

In [204]:
filters=driver.find_element_by_xpath("//label[@class='common-customCheckbox vertical-filters-label']")
filters.click()  # applying filter to the 'casual shoes' filter as the price range asked in the question is in this section.

In [205]:
filters=driver.find_element_by_xpath("//li[@class='colour-listItem']/label")
filters.click() #applying filter to the color 'black'.

In [206]:
filters=driver.find_element_by_xpath("//ul[@class='price-list']/li[2]/label")
filters.click() #applying filter to the price range between '6649 to Rs. 13099'

In [207]:
brand=[]
description=[]
price=[]

In [208]:
br=driver.find_elements_by_xpath("//h3[@class='product-brand']")
des=driver.find_elements_by_xpath("//h4[@class='product-product']")
pr=driver.find_elements_by_xpath("//div[@class='product-price']/span")

for i in br:
    name=i.text
    brand.append(name)

for i in des:
    ds=i.text
    description.append(ds)
    
for i in pr:
    p=i.text
    price.append(p)

In [209]:
data=list(zip(brand,description,price))
df=pd.DataFrame(data,columns=['Brands','Description','Price'])

In [211]:
next=driver.find_element_by_xpath("//li[@class='pagination-number']")
next.click()

In [212]:
brand1=[]
description1=[]
price1=[]

br1=driver.find_elements_by_xpath("//h3[@class='product-brand']")
des1=driver.find_elements_by_xpath("//h4[@class='product-product']")
pr1=driver.find_elements_by_xpath("//div[@class='product-price']/span")

for i in br1:
    name=i.text
    brand1.append(name)

for i in des1:
    ds=i.text
    description1.append(ds)
    
for i in pr1:
    p=i.text
    price1.append(p)

In [213]:
data1 = list(zip(brand1,description1,price1))
df1=pd.DataFrame(data1,columns=['Brands','Description','Price'])
df1.inplace=True
final=pd.concat([df,df1],axis=0)
final

                  Brands                   Description             Price
0                   ALDO         Men Textured Sneakers  Rs. 6999Rs. 9999
1                   Nike    Men Waffle One SE Sneakers         (30% OFF)
2           Hush Puppies  Men Leather Slip-On Sneakers          Rs. 8295
3                Saint G     Men Mid-Top Chelsea Boots  Rs. 6299Rs. 6999
4   Heel & Buckle London           Men Leather Loafers         (10% OFF)
..                   ...                           ...               ...
45               fitflop        Women Leather Sneakers          Rs. 8490
46             Cole Haan        Women Leather Sneakers  Rs. 8999Rs. 9999
47              Skechers  Women UNO 2-MAD AIR Sneakers         (10% OFF)
48              Skechers   Women D'Lux Walker Sneakers          Rs. 7499
49              Skechers   Women Extreme 2.0- Timeless          Rs. 5999

[100 rows x 3 columns]

# Question 3
In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs. 
The task will be done as shown in the below steps:
1.first get the webpage https://www.naukri.com/ 
2.Enter “Data Scientist” in “Skill, Designations, and Companies” field. 
3.Then click the search button. 
4.Then apply the location filter and salary filter by checking the respective boxes 
5.Then scrape the data for the first 10 jobs results you get.
6.Finally create a dataframe of the scraped data.

In [318]:
driver=webdriver.Chrome(r"C:/Users/91897/Downloads/chromedriver_win32/chromedriver.exe")

In [319]:
url="https://www.naukri.com/"
driver.get(url)

In [320]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [321]:
search_job.send_keys("Data Scientist")

In [322]:
sr_btn1=driver.find_element_by_xpath("//button[@class='btn']")
sr_btn1.click()

In [325]:
driver.find_element_by_xpath("//span[@title='Delhi / NCR']").click()

In [326]:
driver.find_element_by_xpath("//span[@title='3-6 Lakhs']").click()

In [327]:
job_t=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_t

[<selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="eae426fe-a2cd-42df-8593-6cffb79b31f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="d69b1422-570e-44ee-9f02-5abff05e3035")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="34fe8d5c-d5cd-4784-95ea-1aefe430a757")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="308d0f97-94eb-4bec-9d46-6094a235dcc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="ee4d5a3b-f699-4335-8f04-74b3d99f335b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="6b4e369d-0a23-4af5-a021-653a14411cb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="54c4bdd2-4d88-42f1-b9dc-3f42da3d55f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="991bcef9-7e9d-4e01-a35e-6e51b9ada073")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="26215adf-d8ea-4913-a8da-9f3e9f8efa1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="88bd481b-2f3f-4883-bc1d-0f237b6c91ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="a0156caf-9e83-4e5a-88e5-07c1acf6dd06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="945235ee-1ed3-4c54-8aef-4a645b788217")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="79b819df-2592-4bce-80d3-14643dbb6f4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="5e780265-61ec-4c1f-a9e1-ac5787678bd0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="8fc39215-71a8-4c91-8794-175b7f99c1a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="6a6ed516-ec30-4af3-aa74-a9b6ed8c8fe2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="698d1cc6-2676-4693-a73e-585078d4df9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="3eb80d8b-32be-4efd-99ca-18131ffcc66d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="6dcda683-30cc-41dd-adaf-c5d4c6ebf257")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="a7a174c6-51a3-42b1-801d-3278ab973038")>]

In [328]:
job_title=[]
for i in job_t[:10]:
    job_title.append(i.text)
job_title

['Data Scientist',
 'Data Scientist',
 'Hiring For Data Scientist',
 'Data Scientist/ Senior Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist',
 'Data Scientist',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Data Scientist',
 'Senior Data Scientist']

In [329]:
cname=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
cname

[<selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="6884ea58-52f5-4462-b722-cf89b5a5b075")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="917cd06e-eeb2-4043-af47-d1cdec4006da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="c7f09ddc-8d89-435d-9a42-6d60ea13585d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="dc76095e-b9d4-4263-b02f-211ed6803335")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="afab6d76-80af-4f66-97f9-b51163e6349c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="0402759c-cece-4e06-8c40-769db4ad731e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="ec33f14b-9d31-4da0-8186-5295a045e4e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="9309755e-b895-49a7-a23a-fec9ac427f9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="179bef42-046b-4af4-b547-c580e506343f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="29ce3ee0-2673-4487-bd5a-86c7b4517a29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="9b1264d9-0b8c-4ee3-9593-c8b6819d9d35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="51a2976b-72cd-4adb-8480-fc5a1ff52300")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="32971393-d200-4e7f-ae86-19b345f758e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="5dda5713-6ade-4895-ad1b-16ed912cd123")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="1a56295f-15dc-49ea-a383-debd88309ae3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="776ab41e-a7a9-46d8-b01d-13dfaeb88d52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="aa92d580-7fe1-48f1-8a32-9ae641fafd27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="775a1201-d6bf-468c-857a-977fa917ba8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="89dde23a-a84f-4e84-85cb-9d5b09ed4ceb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="09f86276-ff5d-4a1c-a9c5-092be88f41f5")>]

In [330]:
comp_n1=[]
for i in cname[:10]:
    comp_n1.append(i.text)
comp_n1

['LG Electronics India Pvt. Ltd.',
 'Navikenz India Pvt Ltd',
 'Tata Consultancy Services Ltd.',
 'Newgen Software Technologies',
 'Tidyquant (OPC) Private Limited',
 'Teleperformance',
 'HCL Technologies',
 'GABA Consultancy services',
 'The Boston Consulting Group (India) Pvt Limited',
 'iNICU']

In [331]:
job_l=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
job_l

[<selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="650d97cd-fa05-4918-82f4-b9e2f44f0baa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="e9d8f8e6-c504-40db-90bd-ce757ac6410c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="65bbe9a1-ee8e-4030-b342-bada476b2c93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="4c65d812-7257-47b1-89de-99bf502a988b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="485298da-413e-4ed4-b84e-af0f1549794b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="05b18bd1-b3a3-4168-b5aa-310963eed9c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="0b1c41a0-1fbb-4e5b-b90d-7e2d68818e8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="35811b56-fc34-4057-b938-9c0b07f450d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="16066649-e06e-4d1f-9c90-b53cab1ee69f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="ac1c1e27-2ae4-43aa-b86d-7ba671a7e2b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="5b8a6a37-55f3-49ff-9bd5-8b6f7f75175c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="47d046c9-c4b5-4a2e-818a-a493c5809c83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="690c8778-ae66-4063-97d2-3b8dffced361")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="09c49fd3-4222-437c-912e-24d5cbab6aaa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="36b3ea32-918f-41aa-ba7f-a2bacb4aed61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="6241e8a6-19c5-484c-8920-4ce67c5e3739")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="cf228441-4264-4d16-af35-f2649c783075")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="27cf84ca-a23f-4f75-a794-d4b69b7c567c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="f1a43c40-0f37-4fed-86e3-62e6b1ff3397")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="7df97c2e-966a-4da8-b53b-30f98066c15e")>]

In [332]:
job_loc=[]
for i in job_l[:10]:
    job_loc.append(i.text)
job_loc

['Noida, New Delhi, Faridabad, Gurgaon/Gurugram, Delhi / NCR',
 'Noida, Nodia\n(WFH during Covid)',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida',
 'Remote',
 'Gurgaon/Gurugram, Chennai',
 'Delhi / NCR',
 'Noida, Ghaziabad, Delhi / NCR',
 'New Delhi',
 'Delhi']

In [333]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp

[<selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="2bba1d4c-278b-4730-a7e8-b1c5d6ffb15d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="23e93da4-c368-46ae-999c-7da028d40074")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="499b4498-c41f-4889-8320-c52255186263")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="dff84b20-edc3-4c16-bda5-612c5b7af08c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="5860a3bc-6d5e-4e56-bc38-e80d67a90d08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="61e2011b-f341-4f19-bde7-148e993b9122")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="9627761d-e1c9-40cf-b742-3748de12809d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="b9728ded-38e7-4e9f-b5db-86a6114ba3a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="7462ec70-9fce-4cd3-8b8b-2a5bfa5cde59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="5e2c38d6-d8ee-4838-ba80-d66b1ee3b854")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="0b6cd0ab-c567-4b99-bd52-dffa0c6de27a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="61937a87-ff3e-4782-a0c3-d6d44431ae21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="457899c1-df2f-47e9-9b08-db6428eb8115")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="4ee83cdf-32fc-45b7-b277-2a50d97c978f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="e5487ea8-5c80-405f-8c4d-c8a72c99a487")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="21a61516-3866-43b3-b341-5465175b74e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="fb490b01-2fb6-4e86-b64c-15653cf246d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="edc3cb7c-a6cf-4c7e-865f-beacfab2456f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="5d1d887c-2139-4592-8c20-cc49d7aa5ee8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3953004b9296b248ae855975c2e32de8", element="8d50d148-2ccc-4255-82f3-e30e03770185")>]

In [334]:
exp1=[]
for i in exp[:10]:
    exp1.append(i.text)
exp1

['0-2 Yrs',
 '2-7 Yrs',
 '4-9 Yrs',
 '2-5 Yrs',
 '1-5 Yrs',
 '4-9 Yrs',
 '2-6 Yrs',
 '0-0 Yrs',
 '2-5 Yrs',
 '1-5 Yrs']

In [335]:
Data_Scientist_Jobs=pd.DataFrame({})

In [336]:
Data_Scientist_Jobs['Job_Titles']=job_title
Data_Scientist_Jobs['Company Names']=comp_n1
Data_Scientist_Jobs['Job_Location']=job_loc
Data_Scientist_Jobs['Experience']=exp1

In [337]:
Data_Scientist_Jobs

,Job_Titles,Company Names,Job_Location,Experience
0,Data Scientist,LG Electronics India Pvt. Ltd.,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",0-2 Yrs
1,Data Scientist,Navikenz India Pvt Ltd,"Noida, Nodia\n(WFH during Covid)",2-7 Yrs
2,Hiring For Data Scientist,Tata Consultancy Services Ltd.,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",4-9 Yrs
3,Data Scientist/ Senior Data Scientist,Newgen Software Technologies,Noida,2-5 Yrs
4,Project Manager | Team Leader | Senior Data Sc...,Tidyquant (OPC) Private Limited,Remote,1-5 Yrs
5,Data Scientist,Teleperformance,"Gurgaon/Gurugram, Chennai",4-9 Yrs
6,Job Opportunity || Data Scientist || HCL Techn...,HCL Technologies,Delhi / NCR,2-6 Yrs
7,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,"Noida, Ghaziabad, Delhi / NCR",0-0 Yrs
8,Data Scientist,The Boston Consulting Group (India) Pvt Limited,New Delhi,2-5 Yrs
9,Senior Data Scientist,iNICU,Delhi,1-5 Yrs

# Question:9
Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [247]:
driver=webdriver.Chrome(r"C:/Users/91897/Downloads/chromedriver_win32/chromedriver.exe")

In [248]:
driver.get("https://www.ambitionbox.com/")

In [249]:
job_tab = driver.find_element_by_xpath('//a[@class="link jobs"]')
job_tab.click()

In [250]:
search_job = driver.find_element_by_xpath('//input[@class="input tt-input"]')
search_job.send_keys("Data Scientist")

In [251]:
search_btn = driver.find_element_by_xpath('//button[@class="ab_btn search-btn round"]/span')
search_btn.click()

In [252]:
driver.find_element_by_xpath('//div[@title="Location"]').click()

loc = driver.find_element_by_id('location_Noida').click()

In [253]:
Company_names = []
No_of_days =[]
Rating = []

In [254]:
company_tags = driver.find_elements_by_xpath('//p[@class="company body-medium"]')

In [255]:
for i in range(len(company_tags)):
    if i < 10:
        name = company_tags[i].text
        Company_names.append(name)

In [256]:
days_tags = driver.find_elements_by_xpath('//span[@class="body-small-l"]')

In [257]:
for i in range(len(days_tags)):
    if i < 19:
        name = days_tags[i].text
        if name == 'via naukri.com' or name == 'via iimjobs.com':
            continue 
        else:
            No_of_days.append(name)

In [258]:
rating_tags = driver.find_elements_by_xpath('//span[@class="body-small"]')

In [259]:
for i in range(len(rating_tags)):
    if i < 10:
        name = rating_tags[i].text
        Rating.append(name)

In [260]:
print("The length of all lists :",len(Company_names), len(No_of_days), len(Rating))

The length of all lists : 10 10 10

In [261]:
print("\n The Dataframe of scraped data:")
df = pd.DataFrame({'Company Names':Company_names,'Job updated': No_of_days,'Rating':Rating})
df

 The Dataframe of scraped data:

                         Company Names Job updated Rating
0       LG Electronics India Pvt. Ltd.      8d ago    4.1
1        GENPACT India Private Limited     15d ago    4.0
2        GENPACT India Private Limited     15d ago    4.0
3  NTT Data Business Solutions Pvt Ltd     16d ago    3.8
4        GENPACT India Private Limited     17d ago    4.0
5                                Paytm      2d ago    3.7
6                             GI Group      1d ago    4.0
7                             GI Group      1d ago    4.0
8                             GI Group      1d ago    4.0
9                     Steria India Ltd    1mon ago    4.1

# Question:10

Write a Python program to scrape the salary data for Data Scientist designation from https://www.ambitionbox.com/
Scrape Company name, Number of salaries, Average salary, Min salary, Max Salary

In [262]:
driver=webdriver.Chrome(r"C:/Users/91897/Downloads/chromedriver_win32/chromedriver.exe")

In [263]:
driver.get('https://www.ambitionbox.com/')

In [264]:
job_tab = driver.find_element_by_xpath('//a[@title="Company Salaries"]')
job_tab.click()

In [265]:
search_job = driver.find_element_by_xpath('//input[@class="tt-input"]')
search_job.send_keys("Data Scientist")

In [266]:
search_btn = driver.find_element_by_xpath('//i[@class="icon-search"]')
search_btn.click()

In [267]:
Company_names = []
No_of_sal =[]
Average_sal = []
Sal=[]
Min_sal=[]
Max_sal = []

In [268]:
name_tags = driver.find_elements_by_xpath('//div[@class="name"]')

In [269]:
for i in range(len(name_tags)):
    if i < 10:
        name = name_tags[i].text.split('\n')[0]
        Company_names.append(name)

In [270]:
no_sal_tags = driver.find_elements_by_xpath('//div[@class="name"]')

In [271]:
for i in range(len(no_sal_tags)):
    if i < 10:
        val = no_sal_tags[i].text.split('\n')[1]
        No_of_sal.append(val)

In [272]:
avg_sal_tags = driver.find_elements_by_xpath('//p[@class="averageCtc"]')

In [273]:
for i in range(len(avg_sal_tags)):
    if i < 10:
        avg = avg_sal_tags[i].text    
        Average_sal.append(avg)

In [274]:
sal_tags = driver.find_elements_by_xpath('//div[@class="value body-medium"]')

In [275]:
for i in range(len(sal_tags)):
    if i <20:
        sal = sal_tags[i].text
        Sal.append(sal)

In [276]:
Min_sal.append(Sal[0::2])
Min_sal=str(Min_sal).split(',')
Max_sal.append(Sal[1::2])
Max_sal=str(Max_sal).split(',')

In [277]:
print("The length of all lists :",len(Company_names),len(No_of_sal), len(Average_sal),len(Min_sal), len(Max_sal))

The length of all lists : 10 10 10 10 10

In [278]:
print("\n The Dataframe of scraped data:")
df = pd.DataFrame({'Company Names':Company_names,'Salary updated': No_of_sal,'Average Salary':Average_sal,'Minimum Salary':Min_sal,'Maximum Salary':Max_sal})
df

 The Dataframe of scraped data:

,Company Names,Salary updated,Average Salary,Minimum Salary,Maximum Salary
0,Tekion,based on 10 salaries,₹ 23.3L,[['₹ 14.0L',[['₹ 32.0L'
1,Microsoft Corporation,based on 218 salaries,₹ 22.4L,'₹ 12.0L','₹ 45.0L'
2,Goldman Sachs,based on 11 salaries,₹ 21.9L,'₹ 16.0L','₹ 30.0L'
3,Flipkart,based on 53 salaries,₹ 20.6L,'₹ 7.0L','₹ 30.0L'
4,Amazon,based on 80 salaries,₹ 19.1L,'₹ 8.0L','₹ 40.0L'
5,Arcesium,based on 35 salaries,₹ 18.4L,'₹ 12.0L','₹ 30.0L'
6,Servicenow Software Development India,based on 27 salaries,₹ 18.2L,'₹ 12.0L','₹ 25.0L'
7,ServiceNow,based on 15 salaries,₹ 18.2L,'₹ 12.7L','₹ 23.0L'
8,Walmart,based on 77 salaries,₹ 17.9L,'₹ 10.0L','₹ 32.0L'
9,PayPal,based on 12 salaries,₹ 17.6L,'₹ 12.0L']],'₹ 23.0L']]